@using Simply_Gallery.ViewModels
@model ChangeNameViewModel
@{
    ViewBag.Title = "Изменение имени";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("ChangeName", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "text-align: left" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(m => m.CurrentUserName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CurrentUserName, new { @class = "form-control", @readonly = "" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewUserName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NewUserName, new { @class = "form-control", placeholder = "Введите новое имя пользователя" })
    </div>
    
    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-primary" />
    </div>
}

<button class="btn btn-primary" onclick="location.href='@Url.Action("Setting")'" style="float:left">Вернуться назад</button>