@using Simply_Gallery.ViewModels
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "text-align: left" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Введите старый пароль" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Введите новый пароль" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Введите повторно новый пароль" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изменить" class="btn btn-primary" />
        </div>
    </div>
}