@using Simply_Gallery.ViewModels
@model AlbumViewModel
@{
    ViewBag.Title = "Создание нового альбома";
    Layout = "Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("CreateAlbum", "Profile", FormMethod.Post, new { @class = "form" }))
{

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-froup">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", placeholder = "Введите название альбома" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "form-text text-muted text-danger" })
    </div>

    <input type="submit" class="btn btn-primary" value="Создать" />
}