@{
    ViewBag.Title = "Настройки";
    Layout = "Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

<p class="text-success" style="text-align:left">@ViewBag.StatusMessage</p>

<div style="text-align:left">
    <dl class="dl-horizontal">
        <dt>Имя:</dt>
        <dd>
            @Html.ActionLink("изменить имя пользователя", "ChangeName")
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Почта:</dt>
        <dd>
            @Html.ActionLink("изменить адрес почты", "ChangeEmail")
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            @Html.ActionLink("изменить пароль", "ChangePassword")
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Аватар:</dt>
        <dd>
            @Html.ActionLink("изменить фотографию", "ChangeAvatar")
        </dd>
    </dl>
</div>