@using Simply_Gallery.ViewModels
@model EditRoleViewModel
@{
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
    ViewBag.Title = "Редактирование роли";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.OldName)
    @Html.HiddenFor(m => m.OldDescription)

    <div class="form-group">
        @Html.LabelFor(m => m.NewName, new { @class = "control-label" })
        @Html.EditorFor(m => m.NewName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewDescription, new { @class = "control-label" })
        @Html.EditorFor(m => m.NewDescription)
    </div>

    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-primary" />
    </div>
}

<button class="btn btn-primary" onclick="myLocation('@Url.Action("Index")')" style="float:left">Вернуться назад</button>