@using Simply_Gallery.ViewModels
@model CreateAlbumViewModel
@{
    ViewBag.Title = "Создание нового альбома";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("AddAlbum", "Profile", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", placeholder = "Введите название альбома" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "form-text text-muted text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Description, null, new { @class = "form-control", placeholder = "Введите описание альбома" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "form-text text-muted text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Создать" />
    </div>
}

<button class="btn btn-primary" onclick="myLocation('@Url.Action("Index")')" style="float:left">Вернуться назад</button>