@using Simply_Gallery.ViewModels
@model PhotoViewModel
@{
    ViewBag.Title = "Добавление фотографии в альбом";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("AddPhoto", "Profile", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.CurrentAlbumId)

    <div class="form-group">
        @Html.LabelFor(m => m.Image, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Image, new { type = "file" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Загрузить" />
    </div>
}

<button class="btn btn-primary" onclick="location.href='@Url.Action("Album", new { albumId = Model.CurrentAlbumId })'" style="float:left">Вернуться назад</button>