@using Simply_Gallery.Models.Gallery
@model Album
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

<div class="property-title">
    <h2>Список всех фотографий альбома</h2>
</div>

<hr />

<div class="add-item">
    <p>Хотите добавить новую фотографию ?</p>
    <button class="btn btn-primary" onclick="myLocation('@Url.Action("AddPhoto", new { albumId = Model.Id })')">Добавить</button>
    <button class="btn btn-primary" onclick="myLocation('@Url.Action("Index")')">Вернуться назад</button>
</div>

<hr />

@if (Model.Photos.Count() == 0)
{
    <div class="album-null">
        <p>@string.Format("В альбоме '{0}' нету фотографий", Model.Name)</p>
        <img class="lazy" data-original="@Url.Content("~/Content/profile/img/empty-album.jpg")" alt=":(" title="Фоток нет" />
    </div>
}
else
{
    <div class="photos">

        <div class="zoom-gallery">
            @foreach (var photo in Model.Photos)
            {
                <button href="@Url.Action("Photo", new { photoId = photo.Id })" class="photo-link">
                    <img class="lazy" data-original="@Url.Action("Photo", new { photoId = photo.Id })">
                </button>
            }
        </div>

    </div>
}

<hr />

@section Style {
    <link href="@Url.Content("~/Content/home/vendor/magnific-popup/magnific-popup.css")" rel="stylesheet" type="text/css" />
}

@section Script {
    <script src="@Url.Content("~/Content/home/vendor/magnific-popup/jquery.magnific-popup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/home/js/components/maginific-popup.min.js")" type="text/javascript"></script>

    <script>
        // Gallery setting
        $('.zoom-gallery').magnificPopup({
            delegate: 'button',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            tClose: 'Закрыть',

            image: {
                verticalFit: true,
                tLoading: 'Подождите пожалуйста, идёт загрузка...',
                titleSrc: function (item) {
                    return '<a class="image-source-link" href="' + item.el.attr('href') + '" target="_blank">оригинал</a> ' + ' | ' +
                        ' <a class="image-source-link" href="/Profile/DeletePhoto?' + item.el.attr('href').split('?')[1] + '" >удалить</a>';
                }
            },
            gallery: {
                enabled: true,
                preload: [0, 2],
                navigateByImgClick: true,
                tPrev: 'Предыдущая',
                tNext: 'Следующая',
                tCounter: '<span class="mfp-counter">%curr% из %total%</span>',
                tError: '<a href="%url%">Данное изображение</a> не удалось загрузить...',
                arrowMarkup: '<button title="%title%" class="mfp-arrow mfp-arrow-%dir%"><i class="fas fa-arrow-%dir%"></i></button>',
            },
            zoom: {
                enabled: true,
                duration: 400,
                opener: function (element) {
                    return element.find('img');
                }
            }
        });
    </script>
}