@using Simply_Gallery.Models.Gallery;
@model IEnumerable<Album>
@{
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";

    ViewBag.Title = "Мои альбомы";
    ViewBag.TitleDelete = "альбом";
}

<div class="title">
    <h2>Список всех альбомов</h2>
</div>

@Html.Partial("Shared/_AlbumAction")

<hr />

<p class="text-success" style="text-align:left">@TempData["Message"]</p>

@Html.Partial("Shared/_Albums", Model)

<hr />
<div class="add">
    <p>Хотите создать новый альбом ?</p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("AddAlbum")'">Создать</button>
</div>

@Html.Partial("Shared/_Delete")

@section Script {
    <script>
        $('.img-load').css({ 'display': 'none' }).load(function (e) {
            console.log(e);
            $(this).css({ 'display': 'block'});
        });
    </script>
}