@using Simply_Gallery.ViewModels
@model ChangeEmailViewModel
@{
    ViewBag.Title = "Изменение почты";

    if (!IsAjax)
    {
        Layout = "~/Views/Profile/Shared/_Layout.cshtml";
    }
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Ajax.BeginForm("ChangeEmail", null, new AjaxOptions { UpdateTargetId = "property"}, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(m => m.CurrentEmail, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CurrentEmail, new { @class = "form-control", @readonly = "" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewEmail, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control", placeholder = "Введите новый e-mail адрес" })
    </div>
    
    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-primary" />
    </div>
}

<button class="btn btn-primary" style="float:left">
    @Ajax.ActionLink("Вернуться назад", "Setting", new AjaxOptions { UpdateTargetId = "property" })
</button>