@using Simply_Gallery.Models;
@model IEnumerable<ApplicationRole>

@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Список ролей";
}

<h2>Роли</h2>
<table class="table">
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { roleId = item.Id }) |
                @Html.ActionLink("Users", "Users", new { roleId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { roleId = item.Id })
            </td>
        </tr>
    }
</table>