@model Simply_Gallery.Models.LoginModel

<section id="login">
    <div class="container">
        @using (Ajax.BeginForm("Login", new AjaxOptions { UpdateTargetId = "login", HttpMethod = "Post" }))
        {
            @Html.AntiForgeryToken()
            <h4>Авторизация на сайт</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Введите имя пользователя", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Введите пароль", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Войти" />
                </div>
            </div>
        }
        <ul><li class="js_nav-item"><a href="#register">Зарегистрировать нового пользователя</a></li></ul>
    </div>
</section>