@model Simply_Gallery.Models.RegisterModel

@{
    ViewBag.Title = "Создание нового аккаунта";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="registerModalTitle">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("Register", null, new AjaxOptions { UpdateTargetId = "register", HttpMethod = "Post" }, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-froup">
                    @Html.Label("Почта", new { @for = "registerEmail" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "registerEmail", placeholder = "Введите e-mail адрес" })
                </div>
                <div class="form-froup margin-t-10">
                    @Html.Label("Имя пользователя", new { @for = "registerUserName" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "registerUserName", placeholder = "Введите имя пользователя" })
                </div>
                <div class="form-froup margin-t-10">
                    @Html.Label("Пароль", new { @for = "registerPass" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "registerPass", placeholder = "Введите пароль" })
                </div>
                <div class="form-froup margin-t-10">
                    @Html.Label("Пароль", new { @for = "registerConfirmPass" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "registerConfirmPass", placeholder = "Повторите пароль" })
                </div>
                <input type="submit" class="btn btn-primary margin-t-10" value="Зарегистрировать" />
            }
            <p class="margin-t-10">У вас уже есть аккаунт? <a class="js_nav-item" data-dismiss="modal" data-toggle="modal" data-target="#login">Войти в учётную запись</a></p>
        </div>
    </div>
</div>