@model Simply_Gallery.Models.RegisterModel

<section id="register">
    @using (Ajax.BeginForm("Register", new AjaxOptions { UpdateTargetId = "register", HttpMethod = "Post" }))
    {
        @Html.AntiForgeryToken()
        <h4>Создание нового аккаунта.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Почта", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Имя пользователя", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Пароль", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Повторите пароль", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Зарегистрировать" />
            </div>
        </div>
    }
</section>

@Scripts.Render("~/bundles/jqueryval")