@{
    ViewBag.Title = "Главная";
}

<!--========== HEADER ==========-->
@Html.Partial("_HeaderPartial")
<!--========== END HEADER ==========-->

<!--========== SLIDER ==========-->
@Html.Partial("HomeContent/_SliderPartial")
<!--========== END SLIDER ==========-->

<!--========== ABOUT ==========-->
@Html.Partial("HomeContent/_AboutPartial")
<!--========== END ABOUT ==========-->

<!--========== LOGIN ==========-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    @Html.Partial("_LoginPartial");
</div>
<!--========== END LOGIN ==========-->

<!--========== BANNER ==========-->
@Html.Partial("HomeContent/_BannerPartial")
<!--========== END BANNER ==========-->

<!--========== REGISTER ==========-->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
    @Html.Partial("_RegisterPartial")
</div>
<!--========== END REGISTER ==========-->

<!--========== IMAGE GALLERY ==========-->
@Html.Partial("HomeContent/_ImageGalleryPartial")
<!--========== END IMAGE GALLERY ==========-->

<!--========== CONTACT ==========-->
@Html.Partial("HomeContent/_ContactPartial")
<!--========== END CONTACT ==========-->

<!--========== FOOTER ==========-->
@Html.Partial("_FooterPartial")
<!--========== END FOOTER ==========-->