@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}

<!-- Modal forms -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    @Html.Partial("Shared/_Login");
</div>
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
    @Html.Partial("Shared/_Register")
</div>
<!-- End Modal forms -->

<!-- Header section -->
@Html.Partial("HomeContent/Header")
<!-- End Header section -->

<!-- About section -->
@Html.Partial("HomeContent/About")
<!-- End About section -->

<!-- Banner form -->
@Html.Partial("HomeContent/Banner")
<!-- End Banner form -->

<!-- Gallery section -->
@Html.Partial("HomeContent/Gallery")
<!-- End Gallery section -->

<!-- Contact section -->
@Html.Partial("HomeContent/Contact")
<!-- End Contact section -->

<!-- Footer section -->
@Html.Partial("HomeContent/Footer")
<!-- End Footer section -->