@using Simply_Gallery.ViewModels
@model LoginViewModel
@{
    ViewBag.ModalTitle = "Авторизация на сайт";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="fweight-700 color-heading" aria-hidden="true">&Chi;</span>
            </button>
            <h4 class="modal-title" id="loginModalTitle">@ViewBag.ModalTitle</h4>
        </div>

        <div class="modal-body">
            @using (Ajax.BeginForm("Login", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "login" }, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-froup">
                    @Html.LabelFor(m => m.UserName, new { @for = "UserNameLogin" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Введите имя пользователя", id = "UserNameLogin" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "form-text text-muted text-danger" })
                </div>

                <div class="form-froup margin-t-20">
                    @Html.LabelFor(m => m.Password, new { @for = "PasswordLogin" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Введите пароль", id = "PasswordLogin" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-text text-muted text-danger" })
                </div>

                <input type="submit" class="btn btn-primary pull-right margin-t-20" value="Войти" />
            }
            
            <p class="margin-t-20">
                Нету учетной записи? <a class="js_nav-item" data-dismiss="modal" data-toggle="modal" data-target="#register" href="">Зарегистрировать нового пользователя</a>
            </p>
        </div>

    </div>
</div>