<div class="nav-action">

    @using (Html.BeginForm("Index", "Profile", FormMethod.Get, new { @class = "form form-inline", @id = "action-search" }))
    {
        <input class="form-control" type="search" name="search" value="@ViewBag.Search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-success" type="submit">Найти <i class="fas fa-search"></i></button>
    }

    <div id="action-sort" class="dropdown show">
        <button class="btn btn-info dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Сортировка <i class="fas fa-sort"></i>
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuLink">
            @Html.ActionLink("По дате создания (сначала старые)", "Index", new { search = ViewBag.Search ?? null, sort = "by_date" }, new { @class = "dropdown-item" })
            @Html.ActionLink("По дате создания (сначала новые)", "Index", new { search = ViewBag.Search ?? null, sort = "by_date_desc" }, new { @class = "dropdown-item" })
            @Html.ActionLink("По имени (по алфавиту a-Z)", "Index", new { search = ViewBag.Search ?? null, sort = "by_name" }, new { @class = "dropdown-item" })
            @Html.ActionLink("По имени (по алфавиту Z-a)", "Index", new { search = ViewBag.Search ?? null, sort = "by_name_desc" }, new { @class = "dropdown-item" })
        </div>
    </div>

</div>