@using Simply_Gallery.ViewModels
@model ProfileViewModel

<div id="header">
    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image">
                @if (Model.UserImage == null)
                {
                    <img src="~/Content/profile/img/avatar.jpg" alt="аватар" title="default" />
                }
                else
                {
                    <img src="@Url.Action("GetUserPhoto", new { userId = Model.UserId })" alt="аватар" title="@Model.UserName" />
                }

            </span>
            <h1>@Model.UserName</h1>
            @foreach (var role in Model.UserRoles)
            {
                <p>@role</p>
            }

        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="@Url.Action("Index", "Home")"><i class="icon fas fa-home">Домашняя</i></a></li>
                <li><a href="@Url.Action("Index")"><i class="icon fas fa-images">Мои альбомы</i></a></li>
                <li><a href="@Url.Action("Setting")"><i class="icon fas fa-users-cog">Мои настройки</i></a></li>
                @if (Model.UserRoles.FirstOrDefault(x => x == "admin") != null)
                {
                    <li><a href="@Url.Action("Index", "Roles")"><i class="icon fas fa-chess-queen">Admin панель</i></a></li>
                }
                @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logOutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <li>
                        <a href="javascript:document.getElementById('logOutForm').submit()"><i class="icon fas fa-sign-out-alt">Выход</i></a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="https://vk.com/osipykr" class="icon"><i class="fab fa-vk"></i><span class="label">VK</span></a></li>
            <li><a href="https://github.com/fredstone624" class="icon"><i class="fab fa-github"></i><span class="label">Github</span></a></li>
            <li><a href="http://www.bstu.by/" class="icon"><i class="fas fa-university"></i><span class="label">University</span></a></li>
            <li><a href="mailto:fredstone624@gmail.com" class="icon"><i class="fas fa-envelope"></i><span class="label">Email</span></a></li>
        </ul>
    </div>
</div>